
.slick-slider {
    overflow-x: hidden;
    height: 100%;
}

.slick-slide {
    text-align: center;
    display: table !important;
}
  
.slick-slide div {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slick-dots {
    position:static;
}

.slick-dots li button:before {
    color: white;
    content: '▬';
    font-size: 20px;
}

.slick-dots li.slick-active button:before {
    color: white;
    opacity: 1.0;
}