/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  min-height: 100%; /* Look, it's not fixed anymore! */

  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  display: flex;
  margin: 0;
}
#root {
  flex-grow: 1;
}

div, body {
	scrollbar-width: thin;
	scrollbar-color: #ffe34f none;
}
div::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 6px;
}
div::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  width: 6px;
}
div::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #ffe34f;
  border-radius: 20px;
  border: 3px solid none;
}

